* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* CELL */

.cell {
  width: clamp(1.8rem, 6vw, 2.5rem);
  height: clamp(1.8rem, 6vw, 2.5rem);
  border: 1px solid black;
  font-size: 1.8rem;
  font-weight: bold;
  display: grid;
  place-content: center;
}

.cell:hover {
  transform: scale(1.15);
}

.cell:active {
  position: relative;
  transform: scale(1);
  border: 1px solid yellow;
  z-index: 1;
}

.cellCan {
  position: relative;
  transform: scale(1.15);
  border: 2px solid green;
  background-color: green;
  z-index: 1;
}

.cellCannot {
  position: relative;
  transform: scale(1.15);
  border: 2px solid red;
  background-color: red;
  z-index: 1;
}

/* SHIP */

.ship4 {
  width: clamp(7.2rem, 24vw, 10rem);
  height: clamp(1.8rem, 6vw, 2.5rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.ship3 {
  width: clamp(5.4rem, 18vw, 7.5rem);
  height: clamp(1.4rem, 5vw, 2.3rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.ship2 {
  width: clamp(3.6rem, 12vw, 5rem);
  height: clamp(1.2rem, 4vw, 1.9rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.shipCreate {
  background-color: hsla(0, 0%, 100%, 0.82);
  border: 2px solid black;
  border-radius: 100%;
}

.ship4.vertical {
  transform-origin: 12.5%;
}
.ship3.vertical {
  transform-origin: 16.7%;
}
.ship2.vertical {
  transform-origin: 25%;
}

.vertical {
  position: absolute;
  transform: rotate(90deg);
  pointer-events: none;
  background-color: hsla(0, 0%, 100%, 0.82);
}
.horizontal {
  position: absolute;
  pointer-events: none;
  background-color: hsla(0, 0%, 100%, 0.82);
}

.ship {
  display: grid;
  align-self: center;
  pointer-events: none;
  border: 2px solid black;
  border-radius: 100%;
}

.sunk {
  background-color: hsla(0, 0%, 0%, 0.269);
}

.bridge {
  width: 70%;
  height: 60%;
  border: 2px solid black;
  pointer-events: none;
}

.battery {
  position: relative;
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  pointer-events: none;
  /* background-color: inherit; */
}
.battery:last-child {
  transform: rotate(180deg);
}
.turret {
  background-color: inherit;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45%;
  border: 1px solid black;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 1 / -1;
  transform: scale(2.1);
}
.shipCreate .turret {
  background-color: white;
}
.ship .turret {
  background-color: white;
}
.ship.sunk .turret {
  background-color: black;
}

.gun {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 45%;

  background-color: black;
}
.missileRack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.05rem;
  pointer-events: none;
}
.missile {
  border: 1px solid black;
  height: 50%;
  width: 100%;
  border-radius: 50%;
  transform: rotate(15deg);
}
.missile:nth-child(4),
.missile:nth-child(5),
.missile:nth-child(6) {
  grid-row: 3;
  transform: rotate(345deg);
}

/* START */

.fleetCreationScreen {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  top: 0;
  transition: transform 1.3s ease;
  transform: translateY(0%);
  position: absolute;
}

.fleetCreationScreen .shipContainerWrapper {
  height: 22vh;
  width: clamp(300px, 70%, 700px);
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

.fleetCreationScreen .shipsContainer {
  display: grid;
  margin-right: auto;
  place-items: center;
  margin-right: auto;
}

.fleetCreationScreen .shipContainerCount {
  margin-left: auto;
  width: 12rem;
  display: inline;
  font-size: 1.6rem;
}

.fleetCreationScreen .gridContainer {
  width: min-content;
  height: min-content;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.fleetCreationScreen .grid {
  width: clamp(18rem, 60vw, 25rem);
  height: clamp(18rem, 60vw, 25rem);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: hsla(123, 84%, 45%, 0.171);
}

.textOutput {
  text-align: center;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
}

/* GAME */

.gamePlayScreen {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  transition: transform 1.3s ease;
  transform: translateY(100%);
}

.gamePlayScreen .computerBoard,
.gamePlayScreen .playerBoard {
  width: min-content;
  height: min-content;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
  margin-bottom: 2rem;
}

.gamePlayScreen .computerGrid,
.gamePlayScreen .playerGrid {
  width: clamp(18rem, 60vw, 25rem);
  height: clamp(18rem, 60vw, 25rem);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.boardWrapper {
  transition: transform 0.5s ease; /* set to 0.5 to have animation */
  transform: translateY(0);
}

.playerGrid .cell {
  background-color: hsla(123, 84%, 45%, 0.155);
}

.computerGrid .cell {
  background-color: hsla(7, 84%, 45%, 0.169);
}

.computerSunken,
.playerSunken,
.computerSunkenOver,
.playerSunkenOver {
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.turnAnnouncement,
.turnAnnouncementOver {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

/* OVER */

.gameOverScreen {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  transition: transform 1.3s ease;
  transform: translateY(-110%);
}

.gameOverScreen .ship4 {
  width: clamp(4.8rem, 24vw, 7.6rem);
  height: clamp(1.2rem, 6vw, 1.9rem);
}
.gameOverScreen .ship3 {
  width: clamp(3.6rem, 18vw, 5.7rem);
  height: clamp(1.2rem, 6vw, 1.9rem);
}
.gameOverScreen .ship2 {
  width: clamp(2.4rem, 12vw, 3.8rem);
  height: clamp(1.2rem, 6vw, 1.9rem);
}

.overWrapper {
  width: clamp(300px, 70%, 900px);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.computerBoardOver,
.playerBoardOver {
  width: min-content;
  height: min-content;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.computerGridOver,
.playerGridOver {
  width: clamp(12rem, 60vw, 19rem);
  height: clamp(12rem, 60vw, 19rem);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.playerBoardOver .cell {
  width: clamp(1.2rem, 6vw, 1.9rem);
  height: clamp(1.2rem, 6vw, 1.9rem);
  background-color: hsla(123, 84%, 45%, 0.263);
}

.computerBoardOver .cell {
  width: clamp(1.2rem, 6vw, 1.9rem);
  height: clamp(1.2rem, 6vw, 1.9rem);
  background-color: hsla(7, 84%, 45%, 0.267);
}

.gridCover {
  position: absolute;
  width: clamp(12rem, 60vw, 19rem);
  height: clamp(12rem, 60vw, 19rem);
  background-color: rgba(0, 0, 0, 0.324);
  display: grid;
  place-content: center;
}

.computerSunkenOver,
.playerSunkenOver {
  color: white;
  font-size: 4rem;
}

.winner {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 1rem;
}

.restartBtn {
  font-weight: bold;
  font-size: 2rem;
  background-color: hsla(270, 50%, 40%, 0.208);
  border: 2px solid black;
  padding: 0.2rem;
  margin: 0.2rem;
  margin-right: auto;
}
.restartBtn:hover {
  background-color: aliceblue;
}

.restartBtn:active {
  background-color: black;
  color: aliceblue;
}

.turnAnnouncementOver {
  margin-left: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footerLink:any-link {
  color: white;
}
.footerLink:hover {
  color: black;
}

/* BACKGROUND */

/* background util */

.moveIn {
  animation: fleetAsync 10s linear infinite, moveIn 2s ease-out 1;
}

.BGSink {
  animation: sinkShip 10s linear;
}
.computerFleet .BGSink {
  animation: CompSinkShip 15s ease-in;
}
.BGSink .wave,
.BGSink .trail {
  transition: scale 5s ease-in;
  scale: 1 0;
}

.destroyed {
  display: none;
}

.detonating .hitExplosion {
  scale: 1.8;
}
.computerFleet .detonating .hitExplosion {
  scale: 0.7;
}

.computerFleet .burning {
  scale: 0.3;
}

@keyframes sinkShip {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-150vw);
  }
}
@keyframes CompSinkShip {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-150vw);
  }
}

.backgroundScreen {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background: linear-gradient(hsl(214, 66%, 77%) 20%, rgb(89, 89, 122));
  pointer-events: none;
  overflow: hidden;
}
.sea {
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: -9;
  top: 50%;
  background: linear-gradient(hsl(192, 18%, 48%), rgb(27, 61, 66));
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.iceBerg {
  position: absolute;
  z-index: -11;
  opacity: 0.99;
  width: clamp(10vh, 10vw, 10vw);
  height: clamp(8vh, 8vw, 8vw);
  background: linear-gradient(white, rgb(194, 194, 194));
  top: 50%;
  transform: translateY(-100%) translateX(-100%);
  animation: iceFloatBy 18s linear infinite;
  animation-play-state: paused;
}
.iceBergOne {
  border-left: clamp(5vh, 5vw, 5vw) solid transparent;
  border-right: clamp(7vh, 7vw, 7vw) solid transparent;
  border-bottom: clamp(10vh, 10vw, 10vw) solid rgb(225, 225, 225);
}
.iceBergTwo {
  animation-delay: 2s;
  border-left: clamp(8vh, 8vw, 8vw) solid transparent;
  border-right: clamp(7vh, 7vw, 7vw) solid transparent;
  border-bottom: clamp(6vh, 6vw, 6vw) solid rgb(225, 225, 225);
}
.iceBergThree {
  animation-delay: 2.5s;
  border-left: clamp(9vh, 9vw, 9vw) solid transparent;
  border-right: clamp(6vh, 6vw, 6vw) solid transparent;
  border-bottom: clamp(9vh, 9vw, 9vw) solid rgb(225, 225, 225);
}
.iceBergFour {
  animation-delay: 10s;
  border-left: clamp(6vh, 6vw, 6vw) solid transparent;
  border-right: clamp(6vh, 6vw, 6vw) solid transparent;
  border-bottom: clamp(8.2vh, 8.2vw, 8.2vw) solid rgb(225, 225, 225);
}
.iceBergFive {
  animation-delay: 11s;
  border-left: clamp(12vh, 12vw, 12vw) solid transparent;
  border-right: clamp(12vh, 12vw, 12vw) solid transparent;
  border-bottom: clamp(10vh, 10vw, 10vw) solid rgb(225, 225, 225);
}
.iceBergSix {
  animation-delay: 12s;
  border-left: clamp(5vh, 5vw, 5vw) solid transparent;
  border-right: clamp(12vh, 12vw, 12vw) solid transparent;
  border-bottom: clamp(15vh, 15vw, 15vw) solid rgb(225, 225, 225);
}
.iceBergSeven {
  animation-delay: 6.5s;
  border-left: clamp(12vh, 12vw, 12vw) solid transparent;
  border-right: clamp(15vh, 15vw, 15vw) solid transparent;
  border-bottom: clamp(3vh, 3vw, 3vw) solid rgb(225, 225, 225);
}
.animateIce {
  animation-play-state: running;
}

@keyframes iceFloatBy {
  0% {
    transform: translateX(100vw) translateY(-100%);
  }
  100% {
    transform: translateX(-20vw) translateY(-100%);
  }
}

.playerFleet {
  position: relative;
  z-index: 1;
  grid-row: 2;
}
.computerFleet {
  z-index: 1;
  position: relative;
  grid-row: 1;
}
.computerFleet > span {
  scale: 0.3;
}

/* background ships */

.computerFleet .battleship {
  width: clamp(10vh, 10vw, 10vw);
  height: clamp(1.7vh, 1.7vw, 1.7vw);
  top: 0%;
  left: 50%;
}
.computerFleet .cruiser {
  width: clamp(7vh, 7vw, 7vw);
  height: clamp(1.2vh, 1.2vw, 1.2vw);
  top: 15%;
  left: 40%;
}
.computerFleet .cruiser:nth-of-type(2) {
  top: 15%;
  left: 60%;
}
.computerFleet .destroyer {
  width: clamp(4.4vh, 4.4vw, 4.4vw);
  height: clamp(0.9vh, 0.9vw, 0.9vw);
}
.computerFleet .destroyer:nth-of-type(4) {
  top: 27%;
  left: 33%;
}
.computerFleet .destroyer:nth-of-type(5) {
  top: 30%;
  left: 55%;
}
.computerFleet .destroyer:nth-of-type(6) {
  top: 25%;
  left: 67%;
}
.computerFleet .BGGun {
  z-index: 5;
}
.battleship {
  position: absolute;
  z-index: 3;
  width: clamp(35vh, 35vw, 35vw);
  height: clamp(5vh, 5vw, 5vw);
  top: 33%;
  left: 50%;
  transform: translateX(-100vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 3fr;
  transition: transform 2s ease-out;
}
.cruiser {
  position: absolute;
  z-index: 2;
  width: clamp(18vh, 18vw, 18vw);
  height: clamp(3.2vh, 3.2vw, 3.2vw);
  top: 23%;
  left: 22%;
  transform: translateX(-100vw);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 3fr;
  transition: transform 2s ease-out;
}
.cruiser:nth-of-type(2) {
  left: 78%;
}
.destroyer {
  z-index: 1;
  position: absolute;
  width: clamp(10vh, 10vw, 10vw);
  height: clamp(2vh, 2vw, 2vw);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 3fr;
  transition: transform 2s ease;
  transform: translateX(-100vw);
}

.playerFleet .destroyer:nth-of-type(4) {
  top: 59%;
  left: 90%;
}
.playerFleet .destroyer:nth-of-type(5) {
  top: 63%;
  left: 10%;
}
.playerFleet .destroyer:nth-of-type(6) {
  top: 5%;
  left: 90%;
}

/* background parts */

.body {
  position: relative;
  z-index: 2;
  grid-column: 1 / -1;
  grid-row: 2/ -1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
}

.end {
  background: linear-gradient(rgb(78, 78, 78), rgb(50, 50, 50));
  clip-path: polygon(0 10%, 100% 100%, 100% 15%, 0 0);
}
.center {
  position: relative;
  left: -0.5%;
  width: 101.2%;
  background: linear-gradient(rgb(78, 78, 78), rgb(50, 50, 50));
  clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 15%);
}

.start {
  background: linear-gradient(rgb(78, 78, 78), rgb(50, 50, 50));
  clip-path: polygon(0 15%, 100% 0, 100% 10%, 0 100%);
}

.bodyBorder {
  z-index: 1;
  position: absolute;
  width: 101.5%;
  height: 64%;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  top: 38%;
  left: -0.5%;
}

.endBorder {
  background: black;
  clip-path: polygon(0 10%, 100% 100%, 100% 15%, 0 0);
}
.centerBorder {
  background: black;
  clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 15%);
}
.startBorder {
  background: black;
  clip-path: polygon(0 15%, 100% 0, 100% 10%, 0 100%);
}

.BGBridge {
  position: relative;
  width: 80%;
  height: 100%;
  background: linear-gradient(rgb(116, 116, 116), rgb(71, 71, 71) 90%, black);
  top: 24%;
  left: -10%;
  border: 2px solid black;
  border-radius: 20px 50% 0 0;
}
.cruiser .BGBridge {
  width: 70%;
  top: 20%;
  border-radius: 20px 100% 0 0;
}
.destroyer .BGBridge {
  width: 70%;
  height: 60%;
  top: 60%;
  left: 30%;
  border-radius: 100px 100% 0 0;
}
.BGAntennae {
  position: relative;
  width: 40%;
  height: 80%;
  background: linear-gradient(rgb(172, 172, 172), rgb(83, 83, 83));
  top: -80%;
  left: 20%;
  border: 2px solid black;
  border-radius: 50% 100px 0 0;
}

.BGMissileRack {
  position: relative;
  width: 70%;
  height: 50%;
  top: 95%;
}
.BGMissile {
  position: absolute;
  width: 50%;
  height: 20%;
  top: 30%;
  background-color: black;
  border-radius: 50%;
  transition: transform 1s ease;
}
.BGMissile::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 300%;
  top: -80%;
  background: radial-gradient(black 20%, yellow 60%);
  border-radius: 50%;
  left: -70%;
}
.BGMissile::before {
  content: "";
  position: absolute;
  opacity: 0;
  width: 30%;
  height: 500%;
  border-radius: 50%;
  background-color: black;
}

.animateMissile.BGMissile::after {
  opacity: 1;
}
.animateMissile.BGMissile::before {
  animation: missileSmoke 2s linear;
}
.animateMissile {
  animation: launchMissile 2s linear;
}
.BGMissile:nth-of-type(2) {
  left: 20%;
}
.BGMissile:nth-of-type(3) {
  left: 40%;
}

@keyframes missileSmoke {
  0% {
    transform: scale(3);
    opacity: 1;
  }
  30% {
    transform: scale(3) translateX(-100%);
  }
  70% {
    transform: scale(3) translateY(-350%) translateX(-14vh);
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: scale(5) translateY(-400%) translateX(-15vh);
    opacity: 0;
  }
}

@keyframes launchMissile {
  0% {
    transform: rotate(-90deg);
  }
  30% {
    transform: rotate(-90deg) translateX(200%);
  }
  100% {
    transform: rotate(-90deg) translateX(100vh);
  }
}

.armMissiles {
  transform: rotate(-90deg);
}

.BGBattery {
  position: relative;
}
.BGBattery:nth-of-type(1) {
  left: -20%;
}
.BGBattery:nth-of-type(3) {
  transform: scaleX(-1);
}
.BGBattery:nth-of-type(4) {
  transform: scaleX(-1);
  right: 30%;
}
.BGTurret {
  position: absolute;
  z-index: 4;
  width: 40%;
  height: 70%;
  top: 55%;
  left: 65%;
  border-radius: 30% 30% 0 0;
  background: linear-gradient(rgb(96, 96, 96), rgb(77, 77, 77) 90%, black);
  border: 2px solid black;
}
.BGGun {
  position: absolute;
  z-index: 3;
  width: 40%;
  height: 20%;
  border-radius: 20%;
  border: 2px solid black;
  top: 85%;
  left: 32%;
  background-color: rgb(79, 79, 79);
  transform-origin: 100% 100%;
  transform: rotate(15deg);
  transition: transform 1s ease;
  /*  animation-delay: 2s; */ /* clean this up */
}

.animateGun {
  animation: gunRecoil 1s ease-out;
}
@keyframes gunRecoil {
  0% {
    translate: 0 0;
  }
  20% {
    translate: 0 100%;
  }
  100% {
    translate: 0 0;
  }
}

.BGGun:nth-child(2) {
  transform: rotate(25deg);
}
.BGGun:nth-child(3) {
  transform: rotate(20deg);
}

.rotateGuns {
  transform: rotateZ(90deg) scaleX(0.7);
}
.rotateGuns:nth-child(2) {
  transform: rotateZ(90deg) scaleX(0.7);
  left: 42%;
}
.rotateGuns:nth-child(3) {
  transform: rotateZ(90deg) scaleX(0.7);
  left: 52%;
}

.wave {
  position: absolute;
  z-index: 5;
  width: 30%;
  height: 60%;
  top: 79%;
  left: 55%;
  border-radius: 100% 50% 0 0;
  background: linear-gradient(hsl(191, 30%, 68%) 40%, transparent 50%);
  animation: waveRide 3s ease-in-out infinite;
}
.battleship .wave .trail {
  animation: waveRide 5s ease-in-out infinite;
  animation-delay: 2s;
}
.battleship:nth-of-type(2) .wave {
  animation-delay: 1s;
}
.cruiser .wave .trail {
  animation: waveRide 4s ease-in-out infinite;
  animation-delay: 5s;
}
.cruiser:nth-of-type(2) .wave .trail {
  animation-delay: 8s;
}
.cruiser:nth-of-type(3) .wave .trail {
  animation-delay: 3.7s;
}
.cruiser:nth-of-type(4) .wave .trail {
  animation-delay: 7s;
}
.destroyer .wave .trail {
  animation-delay: 4s;
}
.destroyer:nth-of-type(2) .wave .trail {
  animation-delay: 1.8s;
}
.destroyer:nth-of-type(3) .wave .trail {
  animation-delay: 8.8s;
}
.destroyer:nth-of-type(4) .wave .trail {
  animation-delay: 5.3s;
}
.destroyer:nth-of-type(5) .wave .trail {
  animation-delay: 2.2s;
}
.destroyer:nth-of-type(6) .wave .trail {
  animation-delay: 4.6s;
}

.trail {
  position: absolute;
  z-index: 5;
  background: linear-gradient(-90deg, hsl(191, 30%, 68%) 40%, transparent 50%);
  width: 200%;
  height: 16%;
  top: 88%;
  left: -130%;
  transform-origin: 120% 50%;
  animation: trailAnimation 6s ease-in-out infinite;
}

@keyframes waveRide {
  0% {
    transform: translateX(-2%) scale(1.05);
  }
  25% {
    transform: translateX(6%) scale(0.9);
  }
  50% {
    transform: translateX(-4%) scale(1.1);
  }
  75% {
    transform: translateX(4%) scale(0.9);
  }
  100% {
    transform: translateX(-2%) scale(1.05);
  }
}

@keyframes fleetAsync {
  0% {
    transform: translate(0%, 0%) translateX(-50%);
  }
  25% {
    transform: translate(5%, 3%) translateX(-50%);
  }
  50% {
    transform: translate(-5%, -2%) translateX(-50%);
  }
  75% {
    transform: translate(2%, 4%) translateX(-50%);
  }
  100% {
    transform: translate(0%, 0%) translateX(-50%);
  }
}
@keyframes trailAnimation {
  0% {
    transform: translateY(0%) scale(1);
  }
  25% {
    transform: translateY(10%) scale(1.1);
  }
  50% {
    transform: translateY(-5%) scale(0.92);
  }
  75% {
    transform: translateY(8%) scale(1.05);
  }
  75% {
    transform: translateY(0) scale(1);
  }
}

@keyframes moveIn {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(-50%) translate(4%, 2%);
  }
}

/*  EFFECTS */

.hitExplosion {
  z-index: 6;
  position: absolute;
  top: 50%; /* 10 - 55 */
  left: 15%; /* 15 - 70 */
}
.explosion {
  z-index: 10;
  position: absolute;
  background: radial-gradient(rgb(213, 220, 109) 60%, transparent 70%);
  width: clamp(1vh, 1vw, 1vw);
  height: clamp(1vh, 1vw, 1vw);
  animation: hitExplosion 0.6s ease-out 1;
  /* animation-delay: 2s; */ /* clean this up */
  border-radius: 50%;
  display: flex;
  place-items: center;
  opacity: 0; /* change to 0 */
}
.explInner {
  background: radial-gradient(rgb(38, 38, 28) 30%, transparent 40%);
  width: clamp(1vh, 1vw, 1vw);
  height: clamp(1vh, 1vw, 1vw);
}
.explSmoke {
  position: absolute;
  opacity: 0; /* change to 0 */
  z-index: 2;
  width: clamp(3vh, 3vw, 3vw);
  height: clamp(3vh, 3vw, 3vw);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.621);
  animation: explSmoke 3s ease-out;
  /* animation-delay: 2s; */ /* clean this up */
  transform-origin: -50% -50%;
  translate: -35% -35%;
}
.computerFleet .hitExplosion {
  scale: 0.3;
}

@keyframes explSmoke {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.8) translateY(-200%) translateX(-300%);
  }
}

@keyframes hitExplosion {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(6);
    opacity: 1;
  }

  100% {
    transform: scale(8);
    opacity: 0;
  }
}

.burning {
  position: absolute;
  z-index: 0;
  width: clamp(1vh, 1vw, 1vw);
  height: clamp(0.7vh, 0.7vw, 0.7vw);
  background: linear-gradient(45deg, red 60%, transparent);
  top: -45%;
  left: 18%; /* 18 - 75 */
  border-radius: 50% 0% 50% 50%;
  display: flex;
  place-items: center;
  animation: burning 3s linear infinite;
  opacity: 0.8;
}
.brnInner {
  position: absolute;
  left: 10%;
  width: 60%;
  height: 80%;
  background: linear-gradient(45deg, rgb(212, 174, 50) 60%, transparent);
  border-radius: 50% 0% 50% 50%;
}
.burning::before {
  opacity: 0;
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.596);
  animation: burnSmoke 1.2s ease-out infinite;
  border-radius: 50%;
  rotate: 45deg;
  transform-origin: 100% 100%;
}
.burning::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.596);
  animation: burnSmoke 1.2s ease-out infinite;
  animation-delay: 0.3s;
  border-radius: 50%;
  rotate: 45deg;
  transform-origin: 100% 100%;
}
.brnInner::before {
  opacity: 0;
  position: absolute;
  content: "";
  width: 75%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.596);
  animation: burnSmoke 1.2s ease-out infinite;
  animation-delay: 0.6s;
  border-radius: 50%;
  rotate: 45deg;
  transform-origin: 100% 100%;
}
.brnInner::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 75%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.596);
  animation: burnSmoke 1.2s ease-out infinite;
  animation-delay: 0.9s;
  border-radius: 50%;
  rotate: 45deg;
  transform-origin: 100% 100%;
}
.playerFleet .battleship .burning {
  scale: 1.2;
  top: -25%;
}
.playerFleet .destroyer .burning {
  scale: 0.8;
  top: -70%;
}

@keyframes burning {
  0% {
    transform: skewX(30deg) scale(4) rotate(-45deg);
  }
  25% {
    transform: scale(4.4) skewX(-8deg) rotate(-45deg);
  }
  50% {
    transform: scale(3.5) skewX(30deg) rotate(-45deg);
  }
  75% {
    transform: scale(4.5) skewX(-12deg) rotate(-45deg);
  }
  100% {
    transform: scale(4) skewX(30deg) rotate(-45deg);
  }
}
@keyframes burnSmoke {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.8) translateY(-100%) translateX(-70%);
  }
}

.hole {
  position: absolute;
  z-index: 5;
  top: 55% /* 0 - 20*/;
  left: 45% /* 12 - 70*/;
  border-radius: 50%;
  width: clamp(1.5vh, 1.5vw, 1.5vw);
  height: clamp(1.5vh, 1.5vw, 1.5vw);
  background: radial-gradient(black 10%, rgba(0, 0, 0, 0.071) 50%);
}
.computerFleet .hole {
  scale: 0.3;
}

.splash {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 30%; /* -50 - 30% */
  left: 43%; /*0 -  100 */
  z-index: 2;
  width: clamp(2vh, 2vw, 2vw);
  height: clamp(8vh, 8vw, 8vw);
  background: linear-gradient(45deg, hsl(191, 30%, 68%) 15%, transparent 20%);
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: splash 1s ease-out 1;
}
.splashInner {
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  width: clamp(2vh, 2vw, 2vw);
  height: clamp(2vh, 2vw, 2vw);
  background: radial-gradient(hsl(192, 18%, 48%), hsl(191, 30%, 68%));
  border-radius: 50%;
  transform: rotate3d(1, 1, 0, 55deg);
  top: 87%;
  left: -45%;
}

@keyframes splash {
  0% {
    transform: scale(0) rotate(-45deg);
    opacity: 0.99;
  }

  100% {
    transform: scale(2) rotate(-45deg);
    opacity: 0;
  }
}

.gunFire {
  position: absolute;
  z-index: 5;
  width: 40%;
  height: 100%;
  rotate: 90deg;
  left: 54%;
  top: -170%;
}
.gunFire:nth-of-type(2) {
  left: 64%;
}
.gunFire:nth-of-type(3) {
  left: 74%;
}
.gunFireCone {
  opacity: 0; /* change to 0 */
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(black 20%, yellow 30%);
  border-radius: 50%;
  transform-origin: 100%;
  /* animation-delay: 2s;  */ /* clean this up */
}
.animateFireCone {
  animation: FireCone 0.3s ease-out;
}

.gunFireSmoke {
  position: absolute;
  opacity: 0; /* change to 0 */
  z-index: 2;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.621);
  left: 70%;
  top: 30%;
  /*  animation-delay: 2s; */ /* clean this up */
}
.animateFireSmoke {
  animation: gunSmoke 2s ease-out;
}

.BGBattery:nth-of-type(3) .gunFire {
  transform: scaleY(-1);
}
.BGBattery:nth-of-type(4) .gunFire {
  transform: scaleY(-1);
}

@keyframes gunSmoke {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    transform: scale(2) translateY(0) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: scale(3) translateY(200%) translateX(-150%);
  }
}

@keyframes FireCone {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* UTIL */

.slideUp {
  position: absolute;
  transform: translateY(-100%);
}

.slideFromBeneath {
  position: absolute;
  transform: translateY(0);
}
.slideDown {
  position: absolute;
  transform: translateY(0);
}

.slideToMid {
  transform: translateY(/* -106.5% */ -116.5%);
}

.slideFromMid {
  transform: translateY(/* 106.5% */ 116.5%);
}

.highlight {
  box-shadow: 0 0 5px 5px rebeccapurple;
}

.selected {
  background-color: cadetblue;
}
