* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

/* START */

.fleetCreationScreen {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  top: 0;
  transition: transform 1.3s ease;
  transform: translateY(0%);
}

.fleetCreationScreen .shipContainerWrapper {
  height: 22vh;
  width: clamp(300px, 70%, 700px);
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}

.fleetCreationScreen .shipsContainer {
  display: grid;
  margin-right: auto;
  place-items: center;
  margin-right: auto;
}

.fleetCreationScreen .shipContainerCount {
  margin-left: auto;
  width: 2rem;
  display: inline;
  font-size: 2rem;
}

.ship4 {
  width: clamp(7.2rem, 24vw, 10rem);
  height: clamp(1.8rem, 6vw, 2.5rem);
  border: 2px solid black;
}

.ship3 {
  width: clamp(5.4rem, 18vw, 7.5rem);
  height: clamp(1.8rem, 6vw, 2.5rem);
  border: 2px solid black;
}

.ship2 {
  width: clamp(3.6rem, 12vw, 5rem);
  height: clamp(1.8rem, 6vw, 2.5rem);
  border: 2px solid black;
}

.shipCreate {
  background-color: rebeccapurple;
}

.fleetCreationScreen .gridContainer {
  width: min-content;
  height: min-content;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.fleetCreationScreen .grid {
  width: clamp(18rem, 60vw, 25rem);
  height: clamp(18rem, 60vw, 25rem);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: hsla(123, 84%, 45%, 0.397);
}

.cell {
  width: clamp(1.8rem, 6vw, 2.5rem);
  height: clamp(1.8rem, 6vw, 2.5rem);
  border: 1px solid black;
}

.cell:hover {
  transform: scale(1.15);
}

.cell:active {
  position: relative;
  transform: scale(1);
  border: 1px solid yellow;
  z-index: 1;
}

.cellCan {
  position: relative;
  transform: scale(1.15);
  border: 2px solid green;
  background-color: green;
  z-index: 1;
}

.cellCannot {
  position: relative;
  transform: scale(1.15);
  border: 2px solid red;
  background-color: red;
  z-index: 1;
}

.vertical {
  position: absolute;
  transform: rotate(90deg);
  pointer-events: none;
  background-color: rebeccapurple;
}
.ship4.vertical {
  transform-origin: 12.5%;
}
.ship3.vertical {
  transform-origin: 16.7%;
}
.ship2.vertical {
  transform-origin: 25%;
}

.horizontal {
  position: absolute;
  pointer-events: none;
  background-color: rebeccapurple;
}

/* GAME */

.gamePlayScreen {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  transition: transform 1.3s ease;
  transform: translateY(100%);
}

.gamePlayScreen .opponentBoard,
.gamePlayScreen .playerBoard {
  width: min-content;
  height: min-content;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
  margin-bottom: 2rem;
}

.gamePlayScreen .opponentGrid,
.gamePlayScreen .playerGrid {
  width: clamp(18rem, 60vw, 25rem);
  height: clamp(18rem, 60vw, 25rem);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.playerGrid .cell {
  background-color: hsla(123, 84%, 45%, 0.263);
}

.opponentGrid .cell {
  background-color: hsla(7, 84%, 45%, 0.267);
}

.opponentSunken,
.playerSunken {
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
}

/* UTIL */

.slideUp {
  position: absolute;
  transform: translateY(-100%);
}
.slideDown {
  position: absolute;
  transform: translateY(0);
}
